@font-face {
  font-family: "Inter";
  src: url("../fonts/inter.woff2") format("woff2"),
    url("../fonts/inter.woff") format("woff"),
    url("../fonts/inter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
